body {
    font-family: sans-serif;
    margin-top: 0px;
}

article { 
  overflow:hidden;
}

article section {
   min-height: 200px;
   padding: 10px;
}

header {
     margin-bottom: 50px;
}

header img {
    width: 100%;
}

aside {
    position: relative;
    width: 700px;
    margin: 30px auto;
}

.datetime-label {
    width: 80px;
    font-size: 2em;
}

.datetime-row {
    margin-bottom: 10px;
}

input {
    width: 225px;
    text-align: left;
    font-size: 2em;
    margin: 0 15px 10px 5px;
    padding-left: 10px;
}

.highway {
    width: 45%;
    text-align: center;
    margin: 0px auto;
    border: 2px dashed #ccc;
}

.hwyImage {
    height: 200px;
    width: 200px;
}

.dir {
    font-size: 6em;
}

.dir.open {
    color: green;
}

.dir.closed {
    color: red;
}

.until {
    font-size: 4em;
}

.I5 {
  float:left; 
}

.I90 { 
  overflow:hidden;
  min-height:170px;
}

@media screen and (max-width: 1150px) {
    .dir {
        font-size: 4em;
    }

    .until {
        font-size: 3em;
    }

    .hwyImage {
        height: 150px;
        width: 150px;
    }
   
    aside {
        width: 600px;
        margin: 20px auto;
    }

    input {
        font-size: 1.5em;
        left: 70px;
        width: 175px;
    }
    
    .datetime-label {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 770px) {
    .dir {
        font-size: 3em;
    }

    .until {
        font-size: 2em;
    }

    .hwyImage {
        height: 100px;
        width: 100px;
    }

    .datetime-label {
        font-size: 1em;
        margin: 10px auto;
    }
    
    aside {
        width: 440px;
        margin: 5px auto;
    }

    input {
        font-size: 1em;
        width: 130px;
        left: 50px;
    }
}

/* TODO: fix inputs to wrap here */ 
@media screen and (max-width: 600px) {
    header {
        margin-bottom: 0px;
    }

    .I5 {
        float: none;
        width: auto;
        border: 0;
        border-bottom: 2px dashed #ccc;
    }

    .I90 {
        float: none;
        width: auto;
        border: 0;
        border-bottom: 2px dashed #ccc;
    }

    .hwyImage {
        height: 75px;
        width: 75px;
    }

.datetime-row {
    margin-top: 15px;
}
}
